* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
  height: 100%;
}

.container {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-wrapper {
  max-width: 300px;
}

.card {
  max-width: 300px;
  padding: 1rem;
  border-radius: 25px;
  background-color: white;
}
